html, body{
	margin-left:15px; margin-right:15px; 
	padding:0px; 
	font-family:Verdana, Arial, Helvetica, sans-serif;
}

table {   
	border-collapse:collapse;
	border-bottom:1px solid gray;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
	width:72%;
}

th {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 #4169e1;
	padding:10px;
	color: #FFFFFF;
}

tr {
	border-top:1px solid gray;
	text-align:center;	
	white-space:nowrap;
}
 
tr:nth-child(even) {background: #FFFFFF}
tr:nth-child(odd) {background: #BBBBBB}	
 
#wrapper {width: 100%; margin-top: 0px; margin:auto; padding:0px 0px 0px 0px; a:visited {color: #FFFFFF;}}
#header {width: 100%; background: #4169e1; margin-top: 0px; padding:15px 0px 15px 15px;}
#header h2 {width: 100%; margin:auto; color: #FFFFFF;}
#container {width: 100%; margin:auto}
#container h3 {color: #000;}
#container #content {margin-top: 20px;}
#footer {width: 100%;  background: #4169e1; padding:15px 0px 15px 15px; margin-top: 0px;}
#footer h2 {width: 100%; margin:auto; color: #FFFFFF; font-size: 12; text-align:center}

.button {
	border: 1px solid #666; 
	border-radius: 5px; 
	padding: 4px; 
	font-size: 12px;
	font-weight: bold;
	padding: 5px 10px; 
	
	margin-bottom: 15px;
	background: #cccccc;
}