<html>
<head>
<title>Hotel Booking System</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/booking-form.css}" />
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<h2>HBS - Hotel Booking System</h2>
		</div>
	</div>
	<div id="container">
		<div id="content">
			<label>Booking deleted</label>
			<p></p>
			<td><input type="button" value="Back"
				onclick="window.history.back()"
				class="save" /></td>
		</div>
	</div>
</body>
</html>